* {
  font-family: Helvetica;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b0b0b0;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
}
ul {
  padding: 0;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login-button {
  width: 3em;
  height: 50px;
  border-radius: 10px;
  background-color: #555555;
  border: 0;
}
.tabs-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tab-button {
  width: 3em;
  height: 50px;
  border-radius: 10px;
  background-color: #555555;
  border: 0;
}
.preview-button {
  width: 3em;
  height: 3em;
  border-radius: 50px;
  background-color: #00000000;
  border: 0;
}
.search-bar {
  display: flex;
  justify-content: flex-start;
}

.search_result_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: px;
}

form {
  display: flex;
  justify-content: center;
}

.sample-pad {
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #555555;
  cursor: pointer;
  transition: border-color 0.2s;
  height: 16em;
  width: 16em;
}

.sample-pad-container {
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  gap: 1em;
  justify-items: center;
  margin: auto;
}
.volume-fader {
  appearance: none;
  display: flex;
  flex-direction: column;
  writing-mode: vertical-lr;
  direction: rtl;
  height: 325px;
  width: 1em;
  vertical-align: bottom;
  border-radius: 10px;
  margin: 1em;
  padding: 2px;
  background: #b0b0b0;
}

.volume-fader-container {
  display: grid;
  grid-template-columns: repeat(8, 0.4fr);
  gap: 1px;
  justify-items: center;
}

.volume-fader::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 2.5em;
  border-radius: 5px;
  background-color: #393939;
  overflow: visible;
  cursor: pointer;
}
.home-page-container {
  display: flex;
  flex-direction: column;
}
