* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
li {
  list-style-type: none;
  margin-left: 1em;
  width: 220px; /* Adjust the width to your desired character limit */
  word-wrap: break-word;
  margin-left: 1%;
  padding-left: 1.15em;
  padding-right: 2%;
  font-size: small;
}
.search-wrapper {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: #555555;
  border-radius: 10px;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  margin-left: 1em;
}

.search-results {
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  overflow-x: hidden;
  max-height: 411px;
  width: 240px;
  margin-top: 1em;
}
.loading-search-results {
  transition: 2.5s; /* Transition duration */
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(360deg); /* How many times it'll rotate = degrees÷360 */
}

.save-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #555555;
  border-radius: 10px;
}
.save-bar {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  margin-left: 1em;
}
.submit-button {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #555555;
  color: white;
  padding: 0.25em;
  margin-left: 1em;
  transition: background-color 0.5s ease-out;
}
.submit-button:active {
  background-color: #ababab;
  transition: background-color 0s;
}
.text-field {
  border: 0px;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login-button {
  width: 3em;
  height: 3em;
  border-radius: 10px;
  background-color: #555555;
  border: 0;
}
.tabs-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tab-button {
  width: 3em;
  height: 3em;
  border-radius: 10px;
  background-color: #555555;
  border: 0;
}

.preview-button {
  width: 3em;
  height: 3em;
  border-radius: 50px;
  background-color: #00000000;
  border: 0;
}
.preview-icon:active {
  fill: #000000;
}

form {
  display: flex;
  justify-content: center;
}

.sample-pad {
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #555555;
  cursor: pointer;
  transition: border-color 0.2s;
  height: 12em;
  width: 12em;
  transition: background-color 0.5s ease-out;
}
.sample-pad:active {
  background-color: #ababab;
  transition: background-color 0s;
}

.sample-pad-container {
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  gap: 1em;
  justify-items: center;
  margin: auto;
}

.volume-fader-container {
  display: grid;
  grid-template-columns: repeat(8, 0.4fr);
  grid-gap: 1px;
  gap: 1px;
  padding: 0;
  width: 62%;
  margin: auto;
  margin-top: 5%;
  justify-items: center;
}
.volume-fader {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: column;
  writing-mode: vertical-lr;
  direction: rtl;
  height: 325px;
  width: 1em;
  vertical-align: bottom;
  border-radius: 10px;
  margin: 0;
  padding-top: 1em;
  background: #b0b0b0;
  display: flex;
  justify-content: center;
}
.volume-fader::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3em;
  height: 1.5em;
  border-radius: 5px;
  background-color: #393939;
  cursor: pointer;
}
.home-page-container {
  display: flex;
  flex-direction: column;
}
.patch-name {
  margin: 1em;
}
.patch-list-item {
  list-style-type: none;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b0b0b0;
  padding: 0;
  border-radius: 10px;
  border: 0;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.delete-patch-button {
  list-style-type: none;
  background-color: #b0b0b0;
  margin: 1em;
  padding: 0;
  border-radius: 10px;
  border: 0;
}
.delete-patch-icon:active {
  fill: #000;
  stroke: #b0b0b0;
}
.login-icon {
  transition: fill 0.5s ease-out;
}
.login-icon:active {
  fill: #ababab;
  transition: fill 0s;
}
.logout-icon {
  transition: fill 0.5s ease-out;
}
.logout-icon:active {
  fill: #ababab;
  transition: fill 0s;
}
